body {
    background-color: #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
h1{
    color: green;
}
.control {
    max-width: 600px;
    background-color: white;
    box-shadow: 4px 3px 5px rgb(1, 1, 1, 0.1);
    margin: 0px auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    
}

.label{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap:30px;
}
.content{
    display: flex;
    flex-direction: column;
}
input,textarea,option,select{
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    border:1px solid black;
    margin-top: 10px;
}
.apply {
    margin-top: 25px;
}
button{
    width: fit-content;
    padding:10px;
    float: right;
    background-color: green;
    border-radius: 10px;
    border: none;
    color: #ccc;
}
button:hover{
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}